<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home_page_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div id="home">
        <div class="container">
            <nav>
                <h1>Welcome to my personal portfolio</h1>
               <ul>
                <li><a href="/components/home/home_page.html">Home</a></li>
                <li><a href="/components/projects/projects_page.html">Projects</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Contact</a></li>
               </ul>
            </nav>
        </div>
        <div class="home">
            <p>Kia Ora, i'm</p>
            <h2><span>Liam</span> Scifleet Naughton</h2>
            <img src="/assets/images/profile_photo.jpg" alt="profile photo" id="profile_photo">
            <p id="about_me">Based in Nelson, New Zealand, I am currently enrolled in 
            the Bachelor of Information Technologies (BIT) program at the Nelson 
            Marlborough Institute of Technology (NMIT). As a first-year student with 
            a passion for IT, I am particularly interested in Networking, Database, 
            and Cloud Computing. In 2023, I was enrolled in the Diploma of Animation 
            at Yoobee College of Creative Innovation in Christchurch, New Zealand, 
            where I developed an excellent portfolio in <a href="#">3D Animation</a>. I also have a 
            strong passion for videography and am an adept <a href="#">Video Editor.</a></p>
        </div>
    </div>
    <div id="projects">
        <div class="container">
            <h2>Projects</h2>
            <div class="project_list">
                <div class="projects" id="project1">
                    <img src="/assets/images/Isometric_Room_Final_Render.jpg">
                    <div class="project_desc">
                        <h3>Isometric Room</h3>
                        <p>A Studio Ghibli inspired Isometric Room, 3D modelled using Maya and textured using Substance Painter.</p>
                    </div>
                </div>
                 <div class="projects" id="project2">
                    <img src="/assets/images/Pounamu_Render.jpg">
                </div>
                <div class="projects" id="project3">
                    <img src="/assets/images/Potion_Final_Render.jpg">
                </div>
            </div>
            <div class="popup_image">
                <span>&times;</span>
                <img src="/assets/images/Isometric_Room_Final_Render.jpg">
            </div>
            <script src="script.js"></script>
            <!-- <script>
                document.querySelectorAll('.project_list img').forEach(image =>{
                    image.onclick = () =>{
                        document.querySelector('.popup_image').style.display = 'block';
                        document.querySelector('.popup_image img').src = image.getAttribute('src')
                    }
                });
                document.querySelector('.popup_image span').onclick =() =>{
                    document.querySelector('.popup_image').style.display = 'none';
                }
            </script>-->
        </div>
    </div>
</body>
</html>