* {
    margin: 0;
    padding: 0;
    font-family: 'raleway', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background: #151515;
    color: #0e0047;
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/deux-cosmetiques-64BMnhOv_go-unsplash.jpg);
    background-size: 100%;
    background-position: 0 30%;
    background-attachment: fixed;
}

.nav {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}

nav ul li a {
    color: #0e0047;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 900;
    transition: 0.4s linear;
}

nav ul li a:hover {
    color: #ffff00;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ffff00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.container {
    color: #fff;
    padding: 10px 10%;
}

#heading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 100px 0;
    filter: drop-shadow(8px 8px 16px #000);
}

#heading {
    background-color: transparent;
    border-bottom: 1px solid #ffff00;
    padding: 10px 5%;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: #ffff00;
}

#heading_container input {
    width: 30%;
    border: 0;
    outline: none;
    background: #151515;
    padding: 15px;
    margin: 30px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.project_list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.projects {
    border-radius: 10px;
    position: relative;
    filter: drop-shadow(8px 8px 16px #000);
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s linear;
}

.projects:hover {
    transform: scale(1.04);
}

.projects img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.2s linear;
}

.container .popup_image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

/* The X for exiting popup window */
.container .popup_image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0e0047;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width:768px) {
    .popup_image img {
        width: 95%;
    }
}

.project_desc {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(14, 0, 71, 0.7));
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 100px 40px;
    overflow: hidden;
    transform: translateY(100%);
    transition: all 0.6s ease-in-out;
}

.projects:hover > .project_desc {
    transform: translateY(0%);
}